@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Katedralna 4/41<br />
    00-000 Wrocław<br />
    <abbr title="Telefon">tel:</abbr>
    425.555.0100
</address>

<address>
    <strong>Pasterz:</strong>   <a href="mailto:ks.piotr.wawrzynek@domnaskale.eu">ks.piotr.wawrzynek@domnaskale.eu</a><br />
    <strong>Lider:</strong> <a href="mailto:lider@domnaskale.eu">lider@domnaskale.eu</a>
</address>